{% extends 'dsarhoyaBaseBundle:Admin:index.html.twig'%}
{% block content %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Secret</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {%for user in users%}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ attribute(user, 'name') is defined ? user.name : 'Sin propiedad name' }}</td>
                        <td>{{ attribute(user, 'apiKeyLegacy') is defined and user.apiKeyLegacy ? user.apiKeyLegacy.secret : 'Sin apiKey' }}</td>
                        <td>
                            <a href="{{path('entityApiKeysGet', {userId: user.id})}}"><i class="fa fa-search"></i></a>
                            &nbsp;
                            <a href="{{path('entityApiKeysGenerate', {userId: user.id})}}"><i class="fa fa-refresh"></i></a>
                        </td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
        <p>Viendo {{users|length}} de {{count}}</p>
        <div>
            <form method="GET">
                Ir a página: <input name="page" type="integer"/>
            </form>
        </div>
    </div>
{% endblock %}