{% extends 'dsarhoyaDSYApiKeyAuthenticatorBundle:Extension:index.html.twig'%}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Crear firma para usuario id {{user.id}}</h1>
        </div>
        <div class="col-md-12">
            <p class="alert alert-info">secret: {{user.apiKey}}</p>
            <p class="alert alert-info">Firma: {{signature}}</p>
            <form method="POST">
                <input type="string" class="form-control" name="path" />
                <br />
                <input type="submit" class="btn btn-success" value="Firmar"/>
            </form>
        </div>
    </div>
{% endblock %}